{% extends 'layout.html' %}
{% block content %}
    {% if notes.count() == 0 %}
        <h1>No notes to display</h1>
    {% endif %}
    {% for note in notes %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <small class="text-muted">Date:{{ note.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('notes.view_note',note_id = note.id)}}">{{ note.title }}</a></h2>
        </div>
        </article>
    {% endfor %}
{% endblock content %}